html {
    background-color: #F7FFF6;
}
/* used to make the background of the whole site the very light grayish color */

header {
font-family: 'Times New Roman', Times, serif;
color: #333333;
background-color: #8491A3;
text-align: center;
margin: 0px 10px 20px 10px;
padding: 20px 10x;
}

main {
background-color: #F7FFF6;
color: #333333;
}

footer {
background-color: #F7B2AD;
color: #8491A3;
text-align: center;
margin: 10px;
padding: 10px;
}
/*used to assign the basic styling of my site. header, main and footer all styled with custom color pallete, and text colors.*/

article {
margin: auto;
text-align: center;
}

a {
font-family: Georgia, 'Times New Roman', Times, serif;
}

a:link {color: blue;}
a:visited {color: purple;}
a:hover {color: green;}
a:active {color: red;}

ul, ol {
list-style-position: inside;
}

/* used to style the article area, the links and lists in the site. */

h1 {
    color:#F7B2AD ;
    font-size: 55px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 300px;
    height: auto;
    border-radius:10%;
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* lastly, these were used to style the individual things in the site: the image, the headers and the paragraph styles.*/